<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A New DogSpot</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/forms.css">
</head>

<body class="edit-form-page">
    <nav class="navbar">
        <div class="navdiv">
            <div class="nav-left">
                <img class="app-logo" src="https://res.cloudinary.com/dhgfzn1ov/image/upload/v1762519160/App-Logo_uauqoo.png" alt="image of a brown dog with a bone">
                <div class="app-name">
                    <span>DOG</span>
                    <span>SPOTTING</span>
                </div>
            </div>
            <div class="nav-right">
                <div class="navbar">
                    <a href="/dogs/:dogId">Back</a>
                </div>
                <a href="/auth/sign-out"><button class="btn">Sign Out</button></a>
            </div>
        </div>
    </nav>
    <main>
        <div class="main-content-edit">
            <div class=page-content-edit>
                <h1>EDIT <%= dog.name %>
                </h1>
                <form action="/dogs/<%=dog._id%>?_method=PUT" method="POST" class="edit-form"
                    enctype="multipart/form-data">
                    <div class="name">
                        <label for="name">
                        </label>
                        <input type="text" name="name" id="name" placeholder="Name" value="<%= dog.name%>" required>
                    </div>
                    <div class="breed">
                        <label for="breed">
                        </label>
                        <input type="text" name="breed" id="breed" placeholder="Breed" value="<%= dog.breed%>" required>
                    </div>
                    <div class="age">
                        <label for="age">
                        </label>
                        <input type="number" name="age" id="age" placeholder="Age" value="<%= dog.age%>" required>
                    </div>
                    <div class="location">
                        <label for="location">
                        </label>
                        <input type="text" name="location" id="location" placeholder="Location"
                            value="<%= dog.location%>" required>
                    </div>
                    <div class="description">
                        <label for="descrption">
                        </label>
                        <textarea name="description" rows="5" cols="45"
                            placeholder="Description"><%= dog.description%></textarea>
                    </div>
                    <div class="photo">
                        <label for="photo"></label>
                        <input type="file" id="photoURL" name="photoURL" accept="image/*" />
                    </div>
                    <div class="button">
                        <button>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>