<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Dogs</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <script defer src="/script/app.js" type="text/javascript"></script>
</head>

<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="nav-left">
                <img class="app-logo" src="https://res.cloudinary.com/dhgfzn1ov/image/upload/v1762519160/App-Logo_uauqoo.png" alt="image of a brown dog with a bone">
                <div class="app-name">
                    <span>DOG</span>
                    <span>SPOTTING</span>
                </div>
            </div>
            <div class="nav-right">
                <%- include('../partials/_navbar.ejs') %>
                    <a href="/auth/sign-out"><button class="btn">Sign Out</button></a>
            </div>
        </div>
    </nav>
    <main>
        <div class="dog-list-layout">
            <h1>My Dog Spots</h1>
            <% if (ownedDogSpots.length> 0) { %>
                <ul>
                    <% ownedDogSpots.forEach(dog=> { %>
                        <li>
                            <a href="/dogs/<%= dog._id %>">
                                <img src="<%= dog.photoURL ? dog.photoURL : 'https://res.cloudinary.com/dhgfzn1ov/image/upload/v1762519160/placeholder_mmoqor.png' %>"
                                    alt="<%= dog.name %>" class="dog-list-image">
                            </a>
                            <span>
                                <a href="/dogs/<%= dog._id %>">
                                    <%= dog.name %>
                                </a>
                            </span>
                        </li>
                        <% }) %>
                </ul>
                <% } else { %>
                    <p>There are currently no dogs to display</p>
                    <% } %>
                        <br>
                        <h2>My Liked Dogs</h2>
                        <br>
                        <% if (likedDogs.length> 0) { %>
                            <ul>
                                <% likedDogs.forEach(dog=> { %>
                                    <li>
                                        <a href="/dogs/<%= dog._id %>">
                                            <img src="<%= dog.photoURL ? dog.photoURL : '/assets/images/placeholder.png' %>"
                                                alt="<%= dog.name %>" class="dog-list-image">

                                        </a>
                                        <span>
                                            <a href="/dogs/<%= dog._id %>">
                                                <%= dog.name %>
                                            </a>
                                        </span>
                                    </li>
                                    <% }) %>
                            </ul>
                            <% } else { %>
                                <p>There are currently no dogs to display</p>
                                <% } %>
        </div>
    </main>
</body>

</html>